<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Sistema PRAVE - Cadastro</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-body container">
        <h4>Cadastre sua empresa. É rápido e prático.</h4>
        <form class="form-horizontal" th:object="${empresa}" th:action="@{/salvaEmpresa}" method="POST" style="margin: 20px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" maxlength="27"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('document')}? 'has-error'">
                            <label>Documento</label>
                            <input type="text" class="form-control input-sm" th:field="*{document}" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
                            <label>Endereço</label>
                            <input type="text" class="form-control input-sm" th:field="*{address}" maxlength="255"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                            <label>E-Mail</label>
                            <input type="text" class="form-control input-sm" th:field="*{email}" maxlength="80"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>