<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Sistema PRAVE</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
    <div class="container" align="center">
        <img src="../static/images/logo.png" class="img-responsive" height="70" width="140" />
        <br/>
        <a class="btn btn-default" th:href="/cadastraEmpresa">Cadastro</a>
        <br/>
        <a class="btn btn-default" href="">Login</a>
    </div>
</body>
</html>